*{
  padding: 0px;
  margin:0px;
}
nav{
  
  color: white;
  width: 100%;
  height: 75px;
  background-color: rgb(24, 24, 24);
  position: fixed;

}
#cont{
  display: flex;
  justify-content: flex-end;
  
 flex-wrap: wrap;


}
.nab{
  display: flex;
  display: inline-block;
  cursor: pointer;
  padding-left: 15px;
  font-size: 1.5rem;
  margin-top: 24px;
  margin-right: 15px;
  
  
   
}
.nab:hover{
  background-color: whitesmoke;

}

/*
#nav-bar{
  background: linear-gradient(black,rgb(37, 37, 37),rgb(80, 80, 80),rgb(92, 92, 92),rgb(37, 37, 37),black)
}
*/
